.navbar {
  display: flex;
  justify-content: space-between; /* Inicio a la izquierda, Carrito a la derecha */
  align-items: center;
  padding: 8px 20px;
  background-color: #fdfdfd;
}

/* Ícono de Inicio */
.nav-icon {
  width: 40px;
  height: 40px;
  object-fit: contain;
  padding: 6px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 2px 2px 8px #FDE3CF;
  transition: all 0.3s ease;
  cursor: pointer;
}

.nav-icon:hover {
  background-color: #FDE3CF;
}

/* Link de Carrito */
.cart-link {
  text-decoration: none;
  font-weight: bold;
  color: #111111;
  padding: 6px 12px;
  border-radius: 8px;
  background-color: white;
  transition: all 0.3s ease;
}

.cart-link:hover {
  background-color: #FDE3CF;
}
